
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:1.2rem;
  color: #fff;
}
.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--semi-dark);
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

:root {
  --light: #e6e8eb;
  --light-strong: #c4cad3;
  --color: #ccaa6b;
  --color-strong: #ae7100;
  --semi-dark: #2c323a;
  --dark: #171a1e;
  --medium: #65666e;
}